div {
  width: 200px;
  height: 200px;
}

#box1 {
  background: red;
  position: relative;
  top: 200px;
  left: 200px;
}
#box2 {
  background: green;
  position: relative;
  left: 200px;
  
}
#box3 {
  background: blue;
}